/*Estilos en comun */
body {
    font-size: 0.9rem;
    margin: 0;
    font-family: 'Oxygen', sans-serif, Verdana;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.contenedor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo_sec {
    color: rgb(248, 242, 242);
    font-size: 2rem;
    text-align: center;
}

header {
    display: flex;
    flex-direction:column;
    background: linear-gradient(rgb(255, 0, 0),
            rgb(0, 0, 0));
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
    color: rgb(248, 246, 246);
    width: 100%;
}

#cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#arriba{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 90%;
}

#arrIzq{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50%;
}

#img_cli{
    width: 60px;
    height: 60px;
}

#clima{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#clima>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: white;
}

#titulo { 
    display: flex;
    flex-direction: column;
    width: 90%;
    transform: translatey(50px);
    animation: float 6s ease-in-out infinite
}

#contCarro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
}

#carro{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(179, 179, 174, 0.75);
    box-shadow: 5px 5px 10px rgb(0, 0, 0), -5px -5px 12px black inset;
    border-radius: 50%;
    padding: 10px;
    width: 130px;
    height: 130px;
}

#itemsCarr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

#carr{
    width: 40px;
    height: 40px;
}

#cantCarr{
    font-size: 1rem;
    color: white;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

#buttons>button{
    width: 80px;
    background-color: rgb(230, 117, 52);
    border-color: rgb(251, 110, 29);
    border-radius: 5px;
    color: white;
}

.swal-footer {
    background-color: rgb(211, 232, 246);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal-title {
    margin: 0px;
    font-size: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-text {
    text-align: center;
}

@keyframes float{
    0% {
    transform: translatey(50px);
}

50% {
    transform: translatey(10px);
}
100% {
    transform: translatey(50px);
}
}

nav {
    width: 100%;
    background-color: transparent;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    justify-content: flex-end;
    padding: 20px;
    margin: 10px 0px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    background-color: transparent;
    border-radius: 15px;
}

nav ul li a:hover,
.seleccionado {
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(250, 0, 0);
}

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0));
    box-sizing: border-box;
    align-items: center;
    color: rgb(248, 246, 246);
    ;
}

#redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_red {
    width: 40px;
    height: 40px;
    padding: 10px;
}

/*Responsive*/

@media screen and (max-width: 800px) {

    #cabecera{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    #clima{
        width: 100%;
    }

    #clima>div{
    width: 100%;
    }

    #titulo {
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #img_titulo{
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    nav ul li {
        width: 50%;
        text-align: center;
    }
}